# IDE configuration files
.idea/

# Caches
.pytest_cache/
.ruff_cache/
**/__pycache__/

# Virtual environments
.venv/

# Test coverage reports
coverage/
.coverage

# Local configuration files
.env

# Files exported by the demos
**/*.gv
**/*.png
**/*.svg
**/*.csv
